/*** TYPO ***/

@font-face {
    font-family: 'srgssr-type-BdIt';
    src: url(../assets/fonts/SRGSSRType_BdIt.ttf);
}
@font-face {
    font-family: 'srgssr-type-Bd';
    src: url(../assets/fonts/SRGSSRType_Bd.ttf);
}
@font-face {
    font-family: 'srgssr-type-Rg';
    src: url(../assets/fonts/SRGSSRType_Rg.ttf);
}
@font-face {
    font-family: 'srgssr-type-Md';
    src: url(../assets/fonts/SRGSSRType_Md.ttf);
}



/***  HIERARCHY ***
    image - video :     z-index = -2
    gradient effect :   z-index = -1
    content :   z-index = 0
 */

.z-index-media {
    position: relative;
    z-index: -2!important;
}

.z-index-effect {
    z-index: -1!important;
}

.z-index-content {
    position: relative;
    z-index: 0!important;
}


/*** BACKGROUNDS ***/

.backgroundSlideShow,
.backgroundSwipeableView,
.backgroundModal,
.backgroundVideo,
.background { /* Image background full screen fixée (div au lieu de background fixed pour les iPhones) */
    width: 100%;
    position: fixed;
    top: 0;
}

.backgroundVideo { /* Image background full screen fixée (div au lieu de background fixed pour les iPhones) */
    z-index: 0;
}


/*.backgroundVideo,*/
.background { /* Image background full screen fixée (div au lieu de background fixed pour les iPhones) */
    z-index: -2;
}

.backgroundSwipeableView {
    z-index: 1!important;
}

.backgroundSlideShow {
    z-index: -3!important;
}

.backgroundSwipeableView,
.background { /* Image background full screen fixée (div au lieu de background fixed pour les iPhones) */
    height: 100vh;
}

.backgroundPadding { /* S'affiche en dessous de l'image sur les écrans trop haut */
    background-color: #000;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -3;
}

.backgroundGradientVideoPlayer,
.backgroundVideoPlayer {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    /*background-color: black;*/
}

.backgroundGradientVideoPlayer {
    z-index: 1;
}

.backgroundGradientByTheme {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.backgroundGradientBottom { /* Dégradé sur l'image, pas réussi à mettre ca dans le div background en multibackground... */
    background: linear-gradient(rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,1) 100%);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.backgroundGradientBottomAspectRatio {
    background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 65%, rgb(0, 0, 0) 90%);
    width: 100%;
    max-height: 100%!important;
    padding-top: 200%; /* ratio ( width / height) * 100%  */
    position: fixed;
    top: 0;
    z-index: 1;
}

.backgroundGradientTopBottom {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 35%, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 100%);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.backgroundGradientTopBottomDashBoard {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 100%)!important;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.backgroundGradientTop {
    background: linear-gradient(to bottom,rgba(0,0,0,0.8)0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 100%);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.bg-top-cover {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: black;
}


/*** LAYOUT ***/

.containerModal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    outline: none;
    text-align: center;
}

.content {
    padding: 0 0 0 0; /* pas de place pour swipe left  right */
    /* padding: 0 0 17rem 0;  Padding pour pouvoir scroller et laisser de la place aux boutons de réponse */
}

.topZone,
.topZoneDashboard,
.timerZone,
.topZoneResult {
    position: relative;
    z-index: 0;
}

.topZoneDashboard,
.topZoneResult {
    padding: 3vw;
}

.topZone {
    padding: 3vw 4vw 4vw 4vw;
}

.timerZone {
    padding: 3vw 1.5vw 0 1.5vw;
}

.topZoneResult {
    height: 78vh;
}

/*.topZone .text {*/
/*    background-color: white;*/
/*    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);*/
/*    opacity: 0.8;*/
/*    border-radius: 1rem;*/
/*    padding: 1rem;*/
/*    margin-top: 0;*/
/*}*/

.bottomZone,
.bottomZonePromo,
.bottomZoneDashboard,
.bottomZoneQuestions { /* Zone des boutons fixée en bas de page */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /*opacity: 0.9;*/
    /*min-height: 150px;*/
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
}

.bottomZone,
.bottomZonePromo,
.bottomZoneDashboard {
    padding: 1rem 0;
}

.bottomZoneQuestions {
    padding: 4vw;
}

.bottomZone,
.bottomZoneDashboard,
.bottomZoneQuestions {
    z-index: 1;
}

.bottomZoneQuestions div{
    padding-bottom: 1rem;
}

.bottomZoneQuestions div:last-of-type{
    padding-bottom: 0;
}

/*** COMPONENTS ***/

.block-text-layout {
    color: white;
    padding: 4vw;
    overflow-wrap: break-word;
}

.title-layout,
.subtitle-layout {
    text-shadow: 0 1px 6px #000000;
    overflow-wrap: break-word
}

.title-layout {
    margin-bottom: 1.5vw!important;
}

.modal-title {
    margin-bottom: 3vw!important;
}

.modal-textfield-phone {
    width: 80%!important;
    min-width: 173px;
    margin-bottom: 3vw!important;
}

.modal-textField-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%
}

.questionButton,
.button,
.buttonAlt {
    width: 80%;
    padding: 6px 20px!important;
    border-radius: 30px!important;
    align-self: center;
}

.button, .buttonAlt {
    margin-bottom: 1rem!important;
}

.buttonAlt {
    font-size: 1.25rem!important;
    font-family: 'srgssr-type-Rg', sans-serif!important;
}

.questionButton {
    width: 100%;
    font-size: 1rem!important;
    font-family: srgssr-type-Bd, sans-serif!important;
    text-transform: none!important;
}

.linkButton {
    align-self: center;
    color: white!important;
    font-size: 0.8125rem!important;
    font-family: 'srgssr-type-Rg', sans-serif!important;
}

.centered-content,
.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0!important; */
    /* margin: 1.1rem 0.7rem 1.1rem 0.7rem; /* safari bug : https://stackoverflow.com/questions/44697888/flex-auto-margins-behave-differently-in-chrome-and-safari */
    margin: 0;
}

.centered-content {
    padding: 6vw;
}

.cardContent {
    padding: 1.1rem 0.7rem;
    justify-content: flex-start;
}
/*** ANIMATION ***/

.fadeInAnimation {
    opacity: 0;
    -webkit-animation-name: 'fadeIn';
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;

}

/*** MEDIA QUERY ***/

@media only screen and (min-width: 481px) { /* Pour les écrans de desktop et iPad/iPhones portrait on limite la largeur et on centre */
    .container,
    .containerModal,
    .background,
    .backgroundSwipeableView,
    .backgroundSlideShow,
    .backgroundModal,
    .backgroundVideo,
    .backgroundPadding,
    .backgroundGradientByTheme,
    .backgroundGradientBottom,
    .backgroundGradientTopBottom,
    .backgroundGradientTopBottomDashBoard,
    .backgroundGradientTop,
    .backgroundGradientVideoPlayer,
    .backgroundGradientBottomAspectRatio,
    .backgroundVideoPlayer,
    .bottomZone,
    .bottomZoneDashboard,
    .bottomZonePromo,
    .bottomZoneQuestions,
    .swipeableViews {
        max-width: 480px;
    }

    .container,
    .containerModal {
        margin: 0 auto;
    }

    .backgroundGradientBottomAspectRatio {
        padding-top: inherit;
        height: calc(480px * 1.77);   /*aspect ratio for 480*1.77 */
    }

    .backgroundLimiter {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }
}

@media only screen and (min-height: 901px) { /* sur les écrans trop haut, on limite la hauteur du background pour que l'image/la vidéo reste acceptable */
    .background,
    .backgroundGradientBottom {
        max-height: 900px;
    }
}

@media only screen and (min-height: 901px) and (min-width: 600px) and (min-aspect-ratio: 600/901) { /* sur les écrans trop haut, et trop large on zoome comme instagram */
    .container,
    .containerModal,
    .background,
    .backgroundSwipeableView,
    .backgroundSlideShow,
    .backgroundModal,
    .backgroundVideo,
    .backgroundPadding,
    .backgroundGradientByTheme,
    .backgroundGradientBottom,
    .backgroundGradientTop,
    .backgroundGradientTopBottom,
    .backgroundGradientTopBottomDashBoard,
    .backgroundGradientVideoPlayer,
    .backgroundGradientBottomAspectRatio,
    .backgroundVideoPlayer,
    .bottomZone,
    .bottomZonePromo,
    .bottomZoneQuestions,
    .bottomZoneDashboard,
    .swipeableViews {
        max-width: 55vh;
    }

    .background,
    .backgroundSwipeableView,
    .backgroundSlideShow,
    .backgroundGradientByTheme,
    .backgroundGradientTopBottom,
    .backgroundGradientTopBottomDashBoard,
    .backgroundGradientTop,
    .backgroundGradientBottom {
        max-height: 100vh;
    }

    .backgroundGradientBottomAspectRatio {
        padding-top: inherit;
        height: calc(55vh * 1.77); /*  aspect ratio for 600*1.77 */
    }
}

@media only screen and (max-height:550px) { /* Sur les écrans trop courts (mobiles paysage, embed), on passe en mode flex pour que les questions restent lisibles */
    .content {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding: 0;
    }

    .topZone,
    .topZoneDashboard,
    .timerZone,
    .topZoneResult {
        flex-grow: 1;
    }

    .topZoneResult {
        height: auto;
    }


    .bottomZone,
    .bottomZoneQuestions {
        position: relative;
        height: 16rem!important;
    }

}

@media only screen and (max-height:450px){
    .bottomZoneDashboard {
        position: relative;
        height: 5rem!important;
    }
}

@media only screen and (min-height:450px) and (max-height:750px) {

    .topZoneDashboard {
        padding: 1rem 1rem 7rem;
    }
}


/*** TAGS & SPECIFIC CASES ***/

a {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}

button:focus {outline:0;}
div:focus {outline:0;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus ,
.react-tel-input .form-control:focus {
    outline: none;
}
.react-tel-input .selected-flag,
.react-tel-input .selected-flag:focus:before,
.react-tel-input .selected-flag.open:before {
    border: none!important;
    box-shadow: none!important;
    outline: none!important;
}


/*** FUNCTIONAL CLASS ***/

.color-White {
    color: white!important;
}

.unselectable-element {
    user-select: none;
}

.centered-content {
    justify-content: center;
}
