@font-face {
    font-family: 'srgssr-type-BdIt';
    src: url(../assets/fonts/SRGSSRType_BdIt.ttf);
}
@font-face {
    font-family: 'srgssr-type-Bd';
    src: url(../assets/fonts/SRGSSRType_Bd.ttf);
}
@font-face {
    font-family: 'srgssr-type-Rg';
    src: url(../assets/fonts/SRGSSRType_Rg.ttf);
}



html, body {
    /*height: 100%;*/
    margin: 0;
    font-size: 2.2vh; /* Relative à la hauteur du viewPort (bloque le zoom?) */
    font-family: sans-serif;
    -webkit-text-size-adjust:none;
}

html {
    /*background-color: red;*/
}


/*** BACKGROUNDS ***/
.backgroundModal,
.backgroundVideo,
.background { /* Image background full screen fixée (div au lieu de background fixed pour les iPhones) */
    width: 100%;
    position: fixed;
    top: 0;
}


.backgroundVideo,
.background { /* Image background full screen fixée (div au lieu de background fixed pour les iPhones) */
    z-index: -2;
}

.background { /* Image background full screen fixée (div au lieu de background fixed pour les iPhones) */
    height: 100vh;
}

.backgroundPadding { /* S'affiche en dessous de l'image sur les écrans trop haut */
    background-color: #000;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -3;
}

.backgroundGradientByTheme {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.backgroundGradientBottom { /* Dégradé sur l'image, pas réussi à mettre ca dans le div background en multibackground... */
    background: linear-gradient(180deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 65%, rgba(0,0,0,1) 90%);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.backgroundGradientBottomAspectRatio {
    background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,1) 90%);
    width: 100%;
    padding-top: 200%; /* ratio ( width / height) * 100%  */
    position: fixed;
    top: 0;
    z-index: -1;
}

.backgroundGradientTopBottom {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 35%, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 100%);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.bg-top-cover {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: black;
}


/*** LAYOUT ***/

.containerModal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    outline: none;
    text-align: center;
}

.content {
    padding: 0 0 0 0; /* page  de place pour swipe left  right */
    /* padding: 0 0 17rem 0;  Padding pour pouvoir scroller et laisser de la place aux boutons de réponse */
}

.topZone {
    padding: 1rem 0.8rem 0 0.8rem;
}

.topZone .text {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    opacity: 0.8;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 0;

}

.bottomZone, .bottomZonePromo { /* Zone des boutons fixée en bas de page */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0.9;
    /*min-height: 150px;*/
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0 0 1rem 0;
    padding: 0;
}

.bottomZone {
    height: 16rem;
}

/*** SPACING ***/

.bottom-2-rem {
    margin-bottom: 2rem!important;
}

.bottom-1-rem{
    margin-bottom: 1rem!important;
}

.bottom-0-5-rem{
    margin-bottom: 0.5rem!important;
}

.margin-1-rem{
    margin: 1rem!important;
}


/*** TYPO ***/
.bold-1-125 {
    font-family: 'srgssr-type-Bd', sans-serif!important;
    font-size: 1.125rem!important;
}

.bold-1-25 {
    font-family: 'srgssr-type-Bd', sans-serif!important;
    font-size: 1.25rem!important;
}

.bold-1-75 {
    font-family: 'srgssr-type-Bd', sans-serif!important;
    font-size: 1.75rem!important;
}

.bold-1-5 {
    font-family: 'srgssr-type-Bd', sans-serif!important;
    font-size: 1.5rem!important;
}

.regular-0-825 {
    font-family: 'srgssr-type-Rg', sans-serif!important;
    font-size: 0.825rem!important;
}

.regular-1 {
    font-family: 'srgssr-type-Rg', sans-serif!important;
    font-size: 1rem!important;
}

.regular-1-1 {
    font-family: 'srgssr-type-Rg', sans-serif!important;
    font-size: 1.1rem!important;
}

.regular-1-125 {
    font-family: 'srgssr-type-Rg', sans-serif!important;
    font-size: 1.125rem!important;
}

.regular-1-25 {
    font-family: 'srgssr-type-Rg', sans-serif!important;
    font-size: 1.25rem!important;
}

.regular-1-50 {
    font-family: 'srgssr-type-Rg', sans-serif!important;
    font-size: 1.50rem!important;
}

.regular-1-75 {
    font-family: 'srgssr-type-Rg', sans-serif!important;
    font-size: 1.75rem!important;
}

.regular-2 {
    font-family: 'srgssr-type-Rg', sans-serif!important;
    font-size: 2rem!important;
}

.color-White {
    color: white!important;
}

.lineSpacing-1-2 {
    line-height: 1.2;
}

/*** COMPONENTS ***/

.questionButton,
.bottomButton {
    width: 80%;
    padding: 6px 20px!important;
    border-radius: 30px!important;
    align-self: center;
}

.bottomButton {
    font-size: 1.25rem!important;
    font-family: 'srgssr-type-Bd', sans-serif!important;
}

.questionButton {
    width: 85%;
    font-size: 1rem!important;
    font-family: 'srgssr-type-Rg', sans-serif!important;
    text-transform: none!important;
}

.linkButton {
    align-self: center;
    color: white!important;
    font-size: 0.8125rem!important;
    font-family: 'srgssr-type-Rg', sans-serif!important;
}

.centered-content,
.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0!important;
    margin: 1.1rem 0.7rem 1.1rem 0.7rem;
}

.centered-content {
     justify-content: center;
 }

.cardContent {
    justify-content: flex-start;
}

/*** ANIMATION ***/

.fadeInAnimation {
    opacity: 0;
    -webkit-animation-name: 'fadeIn';
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;

}

/*** MEDIA QUERY ***/

@media only screen and (min-width: 481px) { /* Pour les écrans de desktop et iPad/iPhones portrait on limite la largeur et on centre */

    html, body {
        font-size: 1.1em;
    }

    .container,
    .containerModal,
    .background,
    .backgroundModal,
    .backgroundVideo,
    .backgroundPadding,
    .backgroundGradientByTheme,
    .backgroundGradientBottom,
    .backgroundGradientTopBottom,
    .backgroundGradientBottomAspectRatio,
    .bottomZone,
    .bottomZonePromo,
    .swipeableViews {
        max-width: 480px;
    }

    /*.containerModal {*/
    /*    max-width: 450px;*/
    /*}*/

    .container,
    .containerModal {
        margin: 0 auto;
    }

    .backgroundLimiter {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }
}

@media only screen and (min-height: 901px) { /* sur les écrans trop haut, on limite la hauteur du background pour que l'image/la vidéo reste acceptable */

    html, body {
        font-size: 1.1em;
    }

    .background,
    .backgroundGradientBottom {
        max-height: 900px;
    }
}

@media only screen and (min-height: 901px) and (min-width: 600px) and (min-aspect-ratio: 600/901) { /* sur les écrans trop haut, et trop large on zoome comme instagram */
    html, body {
        font-size: 2.2vh;
    }

    .container,
    .containerModal,
    .background,
    .backgroundModal,
    .backgroundVideo,
    .backgroundPadding,
    .backgroundGradientByTheme,
    .backgroundGradientBottom,
    .backgroundGradientTopBottom,
    .backgroundGradientBottomAspectRatio,
    .bottomZone,
    .bottomZonePromo,
    .swipeableViews {
        max-width: 55vh;
    }

    .background,
    .backgroundGradientByTheme,
    .backgroundGradientTopBottom,
    .backgroundGradientBottom {
        max-height: 100vh;
    }
}

@media only screen and (max-height:450px) { /* Sur les écrans trop courts (mobiles paysage, embed), on passe en mode flex pour que les questions restent lisibles */

    html, body {
        font-size: 0.9em;
    }

    .content {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding: 0;
    }

    .topZone {
        flex-grow: 1;
    }

    .bottomZone {
        position: relative;
    }
}

a {
    color: #0070f3;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

button:focus {outline:0;}
div:focus {outline:0;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
