@font-face {
    font-family: 'srgssr-type-BdIt';
    src: url(../assets/fonts/SRGSSRType_BdIt.ttf);
}
@font-face {
    font-family: 'srgssr-type-Bd';
    src: url(../assets/fonts/SRGSSRType_Bd.ttf);
}
@font-face {
    font-family: 'srgssr-type-Rg';
    src: url(../assets/fonts/SRGSSRType_Rg.ttf);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: srgssr-type-Rg, sans-serif;
    line-height: 1.6;
    font-size: 1.125rem;
    background-color: #FFFFFF;
    /*height: 100%;*/
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

button:focus {outline:0;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
