.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #999;
}

.kenwrap {
    width: 100%;
    height: 12rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.kenimg {
    width: 100%;
    animation: move 40s ease;
    /* Add infinite to loop. */

    -ms-animation: move 40s ease;
    -webkit-animation: move 40s ease;
    -0-animation: move 40s ease;
    -moz-animation: move 40s ease;
    position: absolute;
}

@-webkit-keyframes move {
    0% {
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;
        transform: scale(1);
        -ms-transform: scale(1);
        /* IE 9 */

        -webkit-transform: scale(1);
        /* Safari and Chrome */

        -o-transform: scale(1);
        /* Opera */

        -moz-transform: scale(1);
        /* Firefox */
    }
    100% {
        transform: scale(1.2);
        -ms-transform: scale(1.2);
        /* IE 9 */

        -webkit-transform: scale(1.2);
        /* Safari and Chrome */

        -o-transform: scale(1.2);
        /* Opera */

        -moz-transform: scale(1.2);
        /* Firefox */
    }
}
